* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #121212;
  color: #fff;
  scroll-behavior: smooth;
}

header {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #00f0ff;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00f0ff;
}

.section {
  padding: 80px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

#contact h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #ffffff;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.contact-links a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-links a i {
  margin-right: 10px;
  color: #b0d853;
  font-size: 20px;
}

.contact-links a:hover {
  color: #0a7a82;
}



.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.home-text h2 {
  font-size: 40px;
}

.home-text span {
  color: #00f0ff;
}

.typing-text {
  color: #00f0ff;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.home-image img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #00f0ff;
  box-shadow: 0 0 20px rgba(0, 240, 255, 0.5);
  transition: transform 0.3s ease;
}

.home-image img:hover {
  transform: scale(1.05);
}


.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  border: 1px solid #333;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

footer {
  background-color: #1a1a1a;
  text-align: center;
  padding: 20px;
  color: #aaa;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease-out;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .home-image img {
    width: 180px;
    height: 180px;
  }
}
 